<div class="row">
  <div class="col-xs-12">
    <ul id="loglines" class="list-unstyled">
    </ul>
  </div>
</div>

<script id="tmpl-logline" type="text/x-jsrender">
  <li class="logline">
    {{>#data}}
  </li>
</script>
